
@model Paginate<ProductVM>


@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <div class="create-category">
        <a asp-action="Create" class="btn btn-success text-white" style="font-size:30px; width:120px;">+</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Operations</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datas )
                {
                    <tr>
                        <td class="py-1">
                            <img  src="~/assets/img/@item.Image" style="width:100px;height:100px"/>
                        </td>
                        <td class="py-1">@item.Name</td>
                        <td class="py-1">@item.Price</td>
                        <td class="py-1">@item.Category</td>

                        <td>
                            <a class="btn btn-info text-white" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                            <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <form class="forms-sample d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger text-white">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="paginate-area d-flex justify-content-center mt-3">
       
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @(Model.HasPrevious?"" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
                </li>

                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                        <a class="page-link @(Model.CurrentPage==i? "paginate-active" :"")" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }

                <li class="page-item" @(Model.HasNext ? "" : "disabled")>
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>


</div>